@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sofia<br />
    Bulgaria<br />
    <abbr title="Phone">Phone:</abbr>
    + 359 893 74 6725
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Vladimir_stratiev@yahoo.com">Vladimir_stratiev@yahoo.coom</a><br />
</address>