

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading" style="font-family: times, Times New Roman, times-roman, georgia, serif;"><strong>Sports Betting</strong></h1>
                <hr class="my-4">
            </div>
        </div>
    </div>



    <div class="text-center">
        <img src="http://www.elcuatro.net/wp-content/uploads/2015/02/2.jpg" alt="bettingAppPicture" style="width:200px;height:200px; border-radius: 50%;">
    </div>
    <div class="second">
        <div class="col-md-12 text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-primary"><a href="https://asp.net" class="btn btn-primary">Preview &raquo;</a></button>
                <button type="button" class="btn btn-primary"><a href="https://asp.net" class="btn btn-primary btn-lg">Edit &raquo;</a></button>
            </div>
        </div>
    </div>
</div>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Navigation -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Markets</h3>
                        <p class="text-muted mb-0">Wide selection of betting markets on every single match!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Corespondation</h3>
                        <p class="text-muted mb-0">We respond to your needs at any time!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Up to Date</h3>
                        <p class="text-muted mb-0">We use the latest technology to meet your bets!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Made with Love</h3>
                        <p class="text-muted mb-0">Do it with passion!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container">


            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center">
                            <h2 class="section-heading">Let's Get In Touch!</h2>
                            <hr class="my-4">
                            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 ml-auto text-center">
                            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                            <p><strong>+359/</strong> 893 746 725 </p>
                        </div>
                        <div class="col-lg-4 mr-auto text-center">
                            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                            <p>
                                <a href="mailto:your-email@your-domain.com">vladimir_stratiev@yahoo.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </nav>




    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
</body>

</html>

